@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-spotify: #1ED760;

  --color-bg-secondary: #121212; /* Primer back #fff luego #121212 */
  --color-bg-tertiary: #1F1F1F; /* Segundo back #f5f */
  --color-hover: #2a2a2a;
  --color-hover-2: #333333; /* botones que tengan el bg tertiary #1f1f1f

  --text-primary: #FFFFFF; /* Títutlos y textos principales */
  --text-primary-2: #FFFFFFB2; /* "Mostrar todos..." */
  --text-primary-3: #FFFFFFE6; /* Mini modales (Cuenta, cerrar sesión...) */
  --color-secondary: #B3B3B3; /* Artistas... */
  --text-dark: #000000; /* Textos oscuros */

  --font-spotify: 'CircularSpotify', Inter, sans-serif;

  --bg-tabbar: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.9), #121212), transparent;
  --color-bg-mini-card: #FFFFFF1A;
   /* Los cuadraditos de musica que estan en la parte de arriba del main */
  /* background-image: linear-gradient(rgba(0,0,0,.6) 0,var(--background-base) 100%),var(--background-noise); para el fondo degradado de arriba del main 
    "bg-[linear-gradient(rgba(0,0,0,0.6)_0%,#121212_100%),#ff6600]"
  */
  --color-bg-mini-card-hover: #FFFFFF2A;
}
/* SVG global */
.svg {
    @apply w-6 h-6;
}

/* Desktop Layout */
.sidebars-desktop {
    @apply min-w-[280px] max-w-[420px] h-[calc(100vh-88px-64px)] bg-bg-secondary rounded-lg overflow-auto;
}
.main-desktop {
    @apply relative flex-1 min-w-[422px] p-4 text-[20px] lg:bg-bg-secondary rounded-lg h-[calc(100vh-88px-64px)] overflow-auto;
}
.resizes-desktop {
    @apply w-[2px] my-3 cursor-col-resize bg-black hover:bg-secondary rounded-lg;
}

/* Header Mobile */
.header-text-xl {
    @apply text-xl font-bold;
}
.header-text-sm {
    @apply flex items-center text-sm font-bold gap-2 py-1;
}
.header-container-py-2 {
    @apply flex items-center py-2;
}

/* Main Mobile and Desktop */
.main-container {
    @apply w-full h-[256px];
}
.main-margin {
    @apply mt-6 mb-3;
}
.main-container-scroll {
    @apply flex overflow-x-scroll overflow-y-hidden;
}
.main-card-text {
    @apply text-[16px];
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Main Mobile */
.main-card-mobile {
    @apply flex flex-col items-center justify-center cursor-pointer;
}
.main-card-element {
    @apply w-[168px] h-[220px] inline-flex flex-col px-2 pt-2 hover:bg-[#1f1f1f] rounded-lg;
}
.main-card-img {
    @apply h-[152px] w-[152px] rounded-sm object-cover;
}

/* Main Desktop */
.fade-x {
-webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    var(--color-bg-tertiary) 2%,
    var(--color-bg-tertiary) 98%,
    transparent 100%
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    var(--color-bg-tertiary) 2%,
    var(--color-bg-tertiary) 98%,
    transparent 100%
  );
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.arrow-button {
    @apply hidden lg:flex absolute top-1/2 -translate-y-1/2 z-10 bg-bg-tertiary hover:bg-hover rounded-full p-1 transition cursor-pointer opacity-0 hover:opacity-100 hover:scale-[1.05] duration-200;
}
.arrow-svg {
    @apply w-6 h-6 text-white translate-x-1 translate-y-1;
}

/* TabBar Mobile */
.tabbar-a {
    @apply flex flex-col justify-center items-center flex-1 gap-1 text-secondary hover:text-white;
}

/* Footer Mobile */
.footer-margin {
    @apply mb-8 md:w-2/5 md:mr-6 md:mb-8;
}
.footer-ul {
    @apply flex flex-col text-[16px];
}
.footer-p {
    @apply text-white font-bold;
}
.footer-span {
    @apply text-secondary mb-2 hover:text-white hover:underline;
}
.footer-a {
    @apply relative inline-flex items-center justify-center w-10 h-10 bg-[#292929] rounded-full hover:bg-[#727272];
}
.footer-a-icon {
    @apply absolute top-3 right-1 text-white;
}
.footer-span-2 {
    @apply text-secondary text-sm hover:text-white;
}

/* Player Bar Desktop */

.button-svg-playerbar {
    @apply h-8 w-8 hover:scale-[1.04] transition-all duration-200 ease-in-out cursor-pointer;
}
.svg-player-bar {
    @apply w-6 h-6 text-secondary translate-y-1 hover:text-white;
}
.svg-tooltip-player-bar {
    @apply absolute mb-2 hidden group-hover:block whitespace-nowrap rounded-md bg-bg-tertiary px-2 py-1 text-[12px] text-white font-semibold shadow-lg bottom-full left-1/2 transform -translate-x-1/2;
}
.svg-tooltip-player-bar-end { /* Esquina derecha abajo */
    @apply absolute mb-2 hidden group-hover:block whitespace-nowrap rounded-md bg-bg-tertiary px-2 py-1 text-[12px] text-white font-semibold shadow-lg bottom-full right-[0px];
}

/* Sidebar Left Desktop */

.svg-tooltip-sidebar-left {
    @apply absolute mb-2 hidden group-hover:block whitespace-nowrap rounded-md bg-bg-tertiary px-2 py-1 text-[12px] text-white font-semibold shadow-lg top-full left-1/2 transform -translate-x-1/2;
}
.svg-tooltip-siderbar-left-end {
    @apply absolute mb-2 hidden group-hover:block whitespace-nowrap rounded-md bg-bg-tertiary px-2 py-1 text-[12px] text-white font-semibold shadow-lg top-full;
}


@font-face {
    font-family: 'CircularSpotify';
    src: url('../assets/fonts/circularspotifytext-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CircularSpotify';
    src: url('../assets/fonts/circularspotifytext-black-webfont.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;

}
@font-face {
    font-family: 'CircularSpotify';
    src: url('../assets/fonts/circularspotifytext-blackitalic-webfont.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'CircularSpotify';
    src: url('../assets/fonts/circularspotifytext-medium-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;

}
@font-face {
    font-family: 'CircularSpotify';
    src: url('../assets/fonts/circularspotifytext-bookitalic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;

}
@font-face {
    font-family: 'CircularSpotify';
    src: url('../assets/fonts/circularspotifytext-mediumitalic-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;

}
@font-face {
    font-family: 'CircularSpotify';
    src: url('../assets/fonts/circularspotifytext-book-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}
@font-face {
    font-family: 'CircularSpotify';
    src: url('../assets/fonts/circularspotifytext-light-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/*========== LAYOUT BASE ==========*/
@layer base {
    *, *::before, *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html {
        /* font-size: 62.5%; */
        scroll-behavior: smooth;
        scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
        color: white;
    }
    html,
    body {
        overflow-x: hidden;
    }
    body {
        background: var(--color-bg-secondary);/*
        color: var(--text-color-dark); */
        font-family: var(--font-primary);
    }
    input,
    button,
    textarea {
        border: none;
        outline: none;
    }
    ul, li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
}